@charset "utf-8";
/* CSS Document */

body{
	text-align: center'
}

#pagehead{
	text-align: center;
	font: Arial, Helvetica, sans-serif;
}

.container{
	padding: 20px;
	border-radius: 20px;
	background-color: #eee;
	margin: 0% 20% 0%;
}

.category{
	text-align: right;
	background-color: #ddd;
	padding: 10px;
	margin: 2px;
	width: 80%;
	border-radius:5px;
}

.mebox{
	width: 100%;	
	background-color: #ccc;
}

.theybox{s
	width: 100%;
	background-color: #bbb;
}

.inputarea{
	height: 20 px;
	padding: 5 px;
	background-color: #ccc;
	width: 20%;
}
.inputform{
	height: 20 px;
	padding: 5 px;
	background-color: #bbb;
	width: 80%;
}

.inputlabel{
	text-align: right;
	background-color: #ddd;
	padding: 10px;
	margin: 2px;
	width: 10%;
	float: left;
	margin-left: 5%;
}

.inputbox{
	width: 80%;
	margin: 5px 0px;
	border-radius: 5px;
	height: 30px;
}



